
@{
    ViewData["Title"] = "Архив за " + @ViewContext.RouteData.Values["year"] + " год";
}

<div id="content"></div>

<script type="module" src="~/client-react/components/archive/FacultiesArchivePage.jsx"></script>