@model List<string>

@{
    ViewData["Title"] = "Форма образования";
}

<h1 class="text-center">Архив за @ViewContext.RouteData.Values["year"] год</h1>

<hr class="mt-3 mx-0" />
<div id="content" class="ps-lg-4 pe-lg-4" style="position: relative">
    @foreach (string form in Model)
    {
        <a class="nav-link text-success p-0 mb-3" asp-action="Details" asp-route-year="@ViewContext.RouteData.Values["year"]" asp-route-form="@form"><h4>@form</h4></a>
    }
</div>
