@model DistributionOfStudents.Data.Models.Subject

@{
    ViewData["Title"] = "Редактировать предмет";
}

<h1 class="text-center">Редактировать предмет</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group pt-2">
                <label asp-for="Name" class="control-label"></label><sup>*</sup>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="col text-center pt-4">
                <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#ChangeSubject">
                    Сохранить
                </button>
                <button type="button" class="btn btn-outline-danger btn-lg" data-bs-toggle="modal" data-bs-target="#DeleteSubject">
                    Удалить
                </button>
                <a type="button" class="btn btn-outline-secondary btn-lg" asp-action="Index">Вернуться</a>
            </div>
            <div class="modal fade" id="ChangeSubject" tabindex="-1" aria-labelledby="ChangeSubject" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ChangeSubject">Сохранить изменения</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Перед тем как изменить этот предмет, проверьте заполнение ячейки с его названием.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="DeleteSubject" aria-labelledby="DeleteSubject" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Удалить <b class="text-success">@Model.Name</b></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Вы уверенны, что хотите удалить этот предмет?
                                <br />
                                Предмет <b class="text-success">"@Model.Name"</b> будет удалён без возможности восстановления.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <a type="button" class="btn btn-outline-danger py-1" asp-action="Delete" asp-route-id="@Model.Id">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
