@{
    ViewData["Title"] = "Предметы";
}
<h1 class="text-center">Список предметов для сдачи ЦТ и ЦЭ</h1>
<hr />
<div class="ps-lg-4 pe-lg-4 position-relative" id="content"></div>

<script type="module" src="~/client-react/components/subjects/SubjectsList.jsx"></script>