@model DistributionOfStudents.ViewModels.CreateChangeGroupOfSpecVM

@{
    ViewData["Title"] = "Создание группы";
}
@section Css{
    <link href="/css/slider-radio.css" rel="stylesheet" asp-append-version="true">
    <style type="text/css">
        .animated {
            -webkit-transition: height 0.2s;
            -moz-transition: height 0.2s;
            transition: height 0.2s;
        }
    </style>
}

<h1 class="text-center">Создать группу</h1>
<hr />
<div id="content" class="ps-lg-4 pe-lg-4 pt-2" style="position: relative">
    <form class="row" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-xl-7">
            <div class="form-group px-2">
                <label asp-for="Group.Name" class="control-label"></label>
                <input asp-for="Group.Name" class="form-control" />
                <span asp-validation-for="Group.Name" class="text-danger"></span>
            </div>
            <div class="row mt-2 px-2">
                <div class="form-group col-sm-6">
                    <label asp-for="Group.StartDate" class="control-label"></label>
                    <input asp-for="Group.StartDate" class="form-control datePicker" id="datePicker" />
                    <span asp-validation-for="Group.StartDate" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Group.EnrollmentDate" class="control-label"></label>
                    <input asp-for="Group.EnrollmentDate" class="form-control datePicker" id="datePicker" />
                    <span asp-validation-for="Group.EnrollmentDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mt-2 px-2">
                <label asp-for="Group.Description" class="control-label"></label>
                <textarea asp-for="Group.Description" class="form-control animated"></textarea>
                <span asp-validation-for="Group.Description" class="text-danger"></span>
            </div>
            <div class="row mt-3 px-2 align-items-end text-center">
                <div class="form-group col-sm-4">
                    <div class="slider-radio elegant">
                        <input asp-for="Group.IsDailyForm" type="radio" id="IsDaily" value="True"><label for="IsDaily">Дневная</label>
                        <input asp-for="Group.IsDailyForm" type="radio" id="IsEvening" value="False"><label for="IsEvening">Заочная</label>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <div class="slider-radio elegant">
                        <input asp-for="Group.IsBudget" type="radio" id="IsBudget" value="True"><label for="IsBudget">Бюджет</label>
                        <input asp-for="Group.IsBudget" type="radio" id="IsPaid" value="False"><label for="IsPaid">Платное</label>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <div class="slider-radio elegant">
                        <input asp-for="Group.IsFullTime" type="radio" id="IsFull" value="True"><label for="IsFull">Полный</label>
                        <input asp-for="Group.IsFullTime" type="radio" id="IsAbbreviated" value="False"><label for="IsAbbreviated">Сокращённый</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5">
            @await Html.PartialAsync("SelectSpecialtiesInGroupPartial", Model)
            @await Html.PartialAsync("SelectSubjectsPartial", Model)
        </div>
        <input asp-for="Group.IsCompleted" type="hidden" />
        <input asp-for="Group.Year" type="hidden" />
        <div class="col text-center pt-4">
            <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#CreateGroup">
                Создать
            </button>
            <a type="button" class="btn btn-outline-secondary btn-lg" asp-controller="Faculties" asp-action="Details" asp-route-name="@ViewContext.RouteData.Values["facultyName"]">Вернуться</a>
        </div>
        <div class="modal fade" id="CreateGroup" tabindex="-1" aria-labelledby="CreateGroup" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="CreateGroup">Создать группу</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Перед тем как создать группу, проверьте заполнение всех ячеек описания этой группы.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $('.animated').autosize({ append: "\n" });
    });
</script>
@section Scripts {
    @{
        <script src="~/js/slider-radio.js" asp-append-version="true"></script>
        <script src="~/js/datePicker.js"></script>
        <script src="~/lib/jquery-autosize/jquery.autosize.min.js"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
