.card-img__faculty {
    float: left;
    position: relative;
    text-align: center;
    display: flex;
}

    .card-img__faculty a {
        width: 100%;
        border-radius: .25rem 0 0 .25rem;
    }

    .card-img__faculty img {
        width: 100%;
        height: 170px;
        object-fit: cover;
    }

.box {
    overflow: hidden;
    height: 86px;
    line-height: 20px;
}

    .box h5 {
        line-height: 21px;
        margin: 1px 0;
    }

    .box:before {
        content: "";
        float: left;
        width: 5px;
        height: 110px;
    }

    .box > *:first-child {
        float: right;
        width: 100%;
        margin-left: -5px;
    }

    .box:after {
        content: "\02026";
        box-sizing: content-box;
        float: right;
        position: relative;
        top: -44px;
        left: 100%;
        width: 3em;
        margin-left: -3em;
        padding-right: 5px;
        text-align: right;
        background-size: 100% 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    }
