@model CreateChangeAdmissionVM

@{
    ViewData["Title"] = "Создание заявки";
}

<h1 class="text-center">Создать заявку</h1>
<hr />
<div id="content" class="ps-lg-4 pe-lg-4 pt-2" style="position: relative">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row mt-2">
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="Student.Surname" class="control-label"></label><sup>*</sup>
                    <input asp-for="Student.Surname" class="form-control" />
                    <span asp-validation-for="Student.Surname" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Student.Name" class="control-label"></label><sup>*</sup>
                    <input asp-for="Student.Name" class="form-control" />
                    <span asp-validation-for="Student.Name" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Student.Patronymic" class="control-label"></label><sup>*</sup>
                    <input asp-for="Student.Patronymic" class="form-control" />
                    <span asp-validation-for="Student.Patronymic" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="DateOfApplication" class="control-label"></label><sup>*</sup>
                    <input asp-for="DateOfApplication" class="form-control datePickerWithTime" id="datePickerWithTime" />
                    <span asp-validation-for="DateOfApplication" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-3">
                @await Html.PartialAsync("StudentScoresPartial", Model)
            </div>
            <div class="col-sm-6">
                @await Html.PartialAsync("PrioritySpecialtiesPartial", Model)
            </div>
        </div>

        <div class="col text-center pt-4">
            <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#CreateAdmission">
                Создать
            </button>
            <a type="button" class="btn btn-outline-secondary btn-lg" asp-controller="GroupsOfSpecialties" asp-action="Details"
               asp-route-facultyName="@ViewContext.RouteData.Values["facultyName"]" asp-route-id="@ViewContext.RouteData.Values["groupId"]">Вернуться</a>
        </div>
        <div class="modal fade" id="CreateAdmission" tabindex="-1" aria-labelledby="CreateAdmission" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="CreateAdmission">Создать заявку</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Перед тем как создать заявку, проверьте заполнение всех ячеек этой заявки.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <script src="~/js/datePicker.js"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
