@model CreateChangeFacultyVM

@{
    ViewData["Title"] = "Создание факультета";
}

<h1 class="text-center">Создать факультет</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group pt-2" style="text-align: -webkit-center;">
                <label asp-for="Img" class="control-label"></label>
                <input type="hidden" asp-for="Faculty.Img" />
                <label class="d-block link-light text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="@Model.Faculty.Img" alt="avatar" style="object-fit: cover; width : 290px;" />
                </label>
                <input asp-for="Img" type="file" class="form-control w-auto" accept=".jpg, .jpeg, .png" style="width:290px">
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="Faculty.FullName" class="control-label"></label><sup>*</sup>
                <input asp-for="Faculty.FullName" class="form-control" />
                <span asp-validation-for="Faculty.FullName" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="Faculty.ShortName" class="control-label"></label><sup>*</sup>
                <input asp-for="Faculty.ShortName" class="form-control" />
                <span asp-validation-for="Faculty.ShortName" class="text-danger"></span>
            </div>
            <div class="col text-center pt-4">
                <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#CreateFaculty">
                    Создать
                </button>
                <a type="button" class="btn btn-outline-secondary btn-lg" asp-action="Index">Вернуться</a>
            </div>
            <div class="modal fade" id="CreateFaculty" tabindex="-1" aria-labelledby="CreateFaculty" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="CreateFaculty">Создать факультет</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Перед тем как создать новый факультет, проверьте заполнение всех ячеек описания факультета.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
